<!-- footer Start -->
<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="footer-manu">
          <ul>
            <!--li><a href="#">About Us</a></li-->
            <li><a href="{{ site.baseurl }}/contact">Contact us</a></li>
            <!--li><a href="#">How it works</a></li-->
            <li><a href="{{ site.baseurl }}/blog">Blog</a></li>
            <!--li><a href="#">Terms</a></li-->
          </ul>
        </div>
        <p>CLIFTN &copy; {{'now' | date: "%Y"}}. Design &amp; Developed by <a href="http://www.themefisher.com">Themefisher</a>. Hosted by <a href="https://pages.github.com/">GitHub Pages</a>..</p>
      </div>
    </div>
  </div>
</footer>
